# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/

# ==============================
# Python Cache
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Streamlit Secrets
# ==============================

.streamlit/secrets.toml

# ==============================
# Environment Variables
# ==============================

.env
.env.*

# ==============================
# Operating System Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# IDE Files
# ==============================

.vscode/*
!.vscode/settings.json

# ==============================
# Large Raw Data
# ==============================

data/raw/*
!data/raw/.gitkeep

# ==============================
# Temporary Files
# ==============================

*.log
*.tmp
*.temp
